/*
506min
style       ID      Classes, atributos e pseudo-classes     Elementos e pseudo-elementos
  X         1       0                                       0
            0       1                                       0
            1       1                                       0
            1       1                                       1
            2       1                                       1
            2       1                                       2
            2       2                                       3
!important: pouco usado, força o navegador.           

display: block é por padrão o display das div em qualquer navegador!
margin: 0   1   3   4       0 é em cima
                            1 é a direita
                            3 é em baixo
                            4 é a esquerda

box-sizing: contet-box      significa que border, padding e margin serão somados.                          
box-sizing: padding-box     significa que o padding vai começar a ser acrescentado para dentro.
box-sizing: border-box       significa que se uma div tem 100px, é 100px para altura e largura+altura e largura do padding+altura e largura da borda. Só a margem não entra até pq a margin é para empurrar o conteúdo para longe de outro.
clear: left ou right        Força o elemento limpar o lado escolhido antes de aparecer.

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: flex-start; /* alinha os itens no eixo principal */
    flex-wrap: wrap;
    align-items:flex-start;    /* alinha os itens no eixo perpendicular */
    background-color: yellowgreen;
    height: 640px;
    align-content: center; /* pega o conteúdo e alinha */
}

.flex-item {
    color: white;
    width: 33.33%; 
    background-color: red;  
}