/*
506min
style       ID      Classes, atributos e pseudo-classes     Elementos e pseudo-elementos
  X         1       0                                       0
            0       1                                       0
            1       1                                       0
            1       1                                       1
            2       1                                       1
            2       1                                       2
            2       2                                       3
!important: pouco usado, força o navegador.           

display: block é por padrão o display das div em qualquer navegador!
margin: 0   1   3   4       0 é em cima
                            1 é a direita
                            3 é em baixo
                            4 é a esquerda

box-sizing: contet-box      significa que border, padding e margin serão somados.                          
box-sizing: padding-box     significa que o padding vai começar a ser acrescentado para dentro.
box-sizing: border-box       significa que se uma div tem 100px, é 100px para altura e largura+altura e largura do padding+altura e largura da borda. Só a margem não entra até pq a margin é para empurrar o conteúdo para longe de outro.
clear: left ou right        Força o elemento limpar o lado escolhido antes de aparecer.

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: column; /* indica a direção do eixo principal do flex como horizontal  
    se usar o flex-direction: columm ele fica no vertical */
    justify-content:space-between; /* alinha os itens no eixo principal */
    align-items:center;    /* alinha os itens no eixo perpendicular */
    background-color: yellowgreen;
    height: 500px;
}

.flex-item {
    color: white;
    /*width: 100%; sem o width ficou no meio da página */
    background-color: red;
    margin: 10px;    
}

.flex-item:nth-child(3) {
    font-size: 40px;
}