.link-redicionamento {
    background-color: lightblue;
    border-radius: 15px;
}

.link-redicionamento:hover {
    background-color: rgb(74, 156, 184);
    cursor: pointer;
    color: #347d39;
}

.redicionamento2 {
    padding: 5px 10px;
    background-color: #2d333b;
}

.github-bg {
    color: #cdd9e5;
    background-color: #1c2128;
}