/*
506min
style       ID      Classes, atributos e pseudo-classes     Elementos e pseudo-elementos
  X         1       0                                       0
            0       1                                       0
            1       1                                       0
            1       1                                       1
            2       1                                       1
            2       1                                       2
            2       2                                       3
!important: pouco usado, força o navegador.           

display: block é por padrão o display das div em qualquer navegador!
margin: 0   1   3   4       0 é em cima
                            1 é a direita
                            3 é em baixo
                            4 é a esquerda

box-sizing: contet-box      significa que border, padding e margin serão somados.                          
box-sizing: padding-box     significa que o padding vai começar a ser acrescentado para dentro.
box-sizing: border-box       significa que se uma div tem 100px, é 100px para altura e largura+altura e largura do padding+altura e largura da borda. Só a margem não entra até pq a margin é para empurrar o conteúdo para longe de outro.
clear: left ou right        Força o elemento limpar o lado escolhido antes de aparecer.

*/
* {
  margin: 0;
  padding: 0;
}

.filha1, .filha2, .filha3 {
  width: 300px;
  height: 300px;
  background-color: rgba(252, 0, 0, 0.9);
  margin: 10px;
  position: static;
}

.filha2 {
  background-color: greenyellow;
  position: absolute;
  z-index: -1; /* camada do elemento */
}

.filha1 {
  position: absolute;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -150px;
  z-index: 2; 
}

.filha3 {
  background-color: blue;
  position: relative;
  top: 100px;
  left: 100px;
}

.outra {
  position: absolute; /* vai se comportar dentro da posição relativada da div pai dela */
  font-size: 50px;
  background-color: #fff;
  right: 0;
  bottom: 0;
}